<div>
    <h1>Employee Detail</h1>
    <p >This component displays information about an employee</p>
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{employee.name}}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{employee.age}}</td>
            </tr>
            <tr>
                <td>Designation</td>
                <td>{{employee.desig}}</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{{employee.gender}}</td>
            </tr>
        </tbody>

    </table>
    <button (click)="employee.showEmployee()">Click</button>
</div>