<div>
    <h3>{{person.name}} <button (click)="showDetail=!showDetail">Details</button></h3>
    <div *ngIf="showDetail">
        Phone : {{person.phone}} <br /> Age : {{person.age}}
    </div>


    <table>
        <thead>
            <tr>
                <th>Sr. no.</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of persons; let i=index; let f=first; let l=last; let e=even; let o=odd">
                <td>{{i+1}}</td>
                <td [style.fontWeight]="o&&'bold'">{{p.name}}</td>
                <td>{{p.age}}</td>
            </tr>
        </tbody>
    </table>
</div>